body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(207, 204, 204);
}
nav{
    width: 50%;
    margin: 0 auto;
    border-radius: 40px;
    background: black;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 10px 15px;
    border-radius: 40px;
    background: black;

}
nav ul li a{
    text-emphasis: none;
    color: #fff;
    text-transform: uppercase;
}
nav ul li:hover{
    background: orange;
    color: pointer;
}
.active{
    background: blue;
}
.img{
    text-align: center;

}
section{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 32%;
    background: rgb(252, 250, 250);
    box-shadow: 0 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 4px;
}
.img img{
    width: 25%;
}
.card h2{
    font-weight:300 ;
    color: ;
    text-align: ;
    text-align: center;
}